#app {
    border: 1px solid blue;

    * {
        margin: 0;
        padding: 0;
    }

    ul,
    li {
        list-style: none;
    }

    #xexcel-canvas {
        border: 1px solid red;
        // margin-left: 100px;
        // margin-top: 100px;
    }

    /* toolbar */
    .xsheet-toolbar {
        margin-bottom: 10px;

        ul.xsheet-toolbar-content {
            height: 30px;
            border: 1px solid green;
            // overflow: hidden;

            li.xsheet-toolbar-item {
                position: relative;
                float: left;
                line-height: 30px;
                vertical-align: middle;
                padding: 0 5px;
                border-right: 1px solid #E8E6E3;

                &:hover,
                &.active {
                    background: #E8E6E3;
                    cursor: pointer;
                    font-weight: 600;

                    .toolbar-setting-menu {
                        display: block;
                    }
                }

                input[type='color'] {
                    cursor: pointer;
                }

                label {
                    cursor: pointer;
                }

                // 字号选择
                .toolbar-setting-menu {
                    // display: none;
                    position: absolute;
                    width: 100%;
                    z-index: 100;
                    top: 100%;
                    left: 0;
                    background-color: #fff;

                    .toolbar-setting-menu-item {
                        text-align: center;

                        &:hover {
                            background-color: lavender;
                        }
                    }
                }
            }
        }
    }

    .xexcel-main-table {
        position: relative;
        // width: 1000px;
        // height: 1000px;
        border: 2px solid red;

        /* selector */
        .xexcel-selector {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 11;

            .xexcel-selector-area {
                position: absolute;
                border: 2px solid rgb(75, 137, 255);
                background: rgba(75, 137, 255, .1);
                pointer-events: none;
            }

            .xexcel-selector-corner {
                position: absolute;
                cursor: crosshair;
                font-size: 0;
                height: 5px;
                width: 5px;
                right: -5px;
                bottom: -5px;
                border: 2px solid rgb(255, 255, 255);
                background: rgb(75, 137, 255);
            }

            /* editor */
            .xexcel-editor {
                position: absolute;
                text-align: left;
                border: 2px solid #4b89ff;
                line-height: 0;
                z-index: 100;
                overflow: hidden;

                .xexcel-editor-textarea {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    box-sizing: content-box;
                    border: none;
                    padding: 0 4px;
                    outline-width: 0;
                    resize: none;
                    text-align: start;
                    overflow-y: hidden;
                    font-family: inherit;
                    font-size: inherit;
                    color: inherit;
                    white-space: normal;
                    word-wrap: break-word;
                    line-height: 22px;
                    margin: 0;
                }
            }
        }
    }
}
